<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.hs.study.MyBatisPrj.mapper.MemoMapper">
    <insert id="insert" parameterType="kr.hs.study.MyBatisPrj.dto.MemoDto">
        insert into memoInfo(idx, writer, memo) values(seq.nextval, #{writer}, #{memo})
    </insert>
    <select id="listAll" resultType="kr.hs.study.MyBatisPrj.dto.MemoDto">
        select * from memoInfo order by idx desc
    </select>
    <select id="selectMemo" resultType="kr.hs.study.MyBatisPrj.dto.MemoDto">
        select * from memoInfo where idx=#{idx}
    </select>
    <update id="update" parameterType="kr.hs.study.MyBatisPrj.dto.MemoDto">
        update memoInfo set writer=#{writer}, memo=#{memo} where idx=#{idx}
    </update>
</mapper>