<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
  <div>
    <h2 th:text="'정수 5개를 입력 받아서 짝수, 홀수별 합계 출력.'"></h2>
    <form method="post" action="/test">
      <input type="number" name="n"> <br>
      <input type="number" name="n"> <br>
      <input type="number" name="n"> <br>
      <input type="number" name="n"> <br>
      <input type="number" name="n"> <br>
      <button type="submit">result</button>
    </form>
  </div>
  <hr>
  <div>
    <h2 th:text="'정수 n을 입력받은 후, 1부터 100까지의 정수 중에서 n의 배수만 출력.'"></h2>
    <form method="post" action="/test1">
      <input type="number" name="n"> <br>
      <button type="submit">result</button>
    </form>
  </div>
  <hr>
  <div>
    <h2 th:text="'100 이하의 두 개의 정수를 입력받아 작은 수부터 큰 수까지 차례대로 출력.'"></h2>
    <form method="post" action="/test2">
      <input type="number" name="n1"> <br>
      <input type="number" name="n2"> <br>
      <button type="submit">result</button>
    </form>
  </div>
  <hr>
  <div>
    <h2 th:text="'정수를 입력받아서 1부터 입력받은 정수까지의 5의 배수의 합을 구하여 출력.'"></h2>
    <form method="post" action="/test3">
      <input type="number" name="n"> <br>
      <button type="submit">result</button>
    </form>
  </div>
<!--  <hr>-->
<!--  <div>-->
<!--    <h2 th:text="'정수를 입력받아서 1부터 입력받은 정수까지의 5의 배수의 합을 구하여 출력.'"></h2>-->
<!--    <form method="post" action="/test4">-->
<!--      <input type="number" name="n1"> <br>-->
<!--      <input type="number" name="n2"> <br>-->
<!--      <input type="number" name="n3"> <br>-->
<!--      <input type="number" name="n4"> <br>-->
<!--      <input type="number" name="n5"> <br>-->
<!--      <input type="number" name="n6"> <br>-->
<!--      <input type="number" name="n7"> <br>-->
<!--      <input type="number" name="n8"> <br>-->
<!--      <input type="number" name="n9"> <br>-->
<!--      <input type="number" name="n10"> <br>-->
<!--      <button type="submit">result</button>-->
<!--    </form>-->
<!--  </div>-->
  <hr>
  <div>
    <h2 th:text="'두 개의 정수를 입력받아 두 정수 사이(두 정수를 포함)에 3의 배수이거나 5
의 배수인 수들의 합과 평균을 출력.'"></h2>
    <form method="post" action="/test5">
      <input type="number" name="n1"> <br>
      <input type="number" name="n2"> <br>
      <button type="submit">result</button>
    </form>
  </div>
  <hr>
  <div>
    <h2 th:text="'한 개의 자연수를 입력받아 그 수의 배수를 차례로 10개 출력.'"></h2>
    <form method="post" action="/test6">
      <input type="number" name="n"> <br>
      <button type="submit">result</button>
    </form>
  </div>
</body>
</html>